*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 10px;
  font-size: 10px;
  background: linear-gradient(180deg, rgba(240, 227, 255, 1) 0%, rgba(222, 195, 255, 1) 35%, rgba(207, 175, 255, 1) 100%);
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-around;
}

.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #f4f9ff;
  position: relative;
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
}

.clock .number1 {
  --rotation: 30deg;
}

.clock .number2 {
  --rotation: 60deg;
}

.clock .number3 {
  --rotation: 90deg;
}

.clock .number4 {
  --rotation: 120deg;
}

.clock .number5 {
  --rotation: 150deg;
}

.clock .number6 {
  --rotation: 180deg;
}

.clock .number7 {
  --rotation: 210deg;
}

.clock .number8 {
  --rotation: 240deg;
}

.clock .number9 {
  --rotation: 270deg;
}

.clock .number10 {
  --rotation: 300deg;
}

.clock .number11 {
  --rotation: 330deg;
}

.clock .settings {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: '';
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock .settings.second {
  width: 2px;
  height: 45%;
  background-color: red;
}

.clock .settings.minute {
  width: 5px;
  height: 40%;
  background-color: black;
}

.clock .settings.hour {
  width: 8px;
  height: 35%;
  background-color: black;
}

.calendar {
  width: 300px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
}

.month {
  width: 100%;
  height: 80px;
  background-color: rgba(207, 175, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}

.month p {
  font-size: 25px;
}

.weekdays {
  width: 100%;
  height: 30px;
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(300px / 7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.days div {
  font-size: 15px;
  width: calc(300px / 7);
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.today {
  background-color: rgba(207, 175, 255, 1);
  border-radius: 10px;
}

.weather {
  width: 300px;
  background-color: #fff;
  display: block;
  border-radius: 10px;
  padding-bottom: 50px;
}

.app-title {
  width: 300px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.app-title p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #293251;
}

.notification {
  background-color: #f8d7da;
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container {
  width: 300px;
  height: 260px;
  background-color: #f4f9ff;
}

.weather-icon {
  width: 300px;
  height: 128px;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
}

.temperature-value {
  width: 300px;
  height: 60px;
}

.temperature-value p {
  padding: 0;
  margin: 0;
  color: #293251;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.temperature-value span {
  color: #293251;
  font-size: 0.5em;
}

.temperature-description p {
  padding: 8px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 1.2em;
}

.location p {
  margin: 0;
  padding: 0;
  color: #293251;
  text-align: center;
  font-size: 0.8em;
}

@media (max-width: 800px) {
  *,
  *::after,
  *::before {
    margin: 0 auto;
  }

  body {
    display: block;
  }

  .clock {
    margin-bottom: 20px;
  }

  .weather {
    display: block;
    margin: 0 auto;
    width: 280px;
    height: 350px;
  }

  .icon {
    width: 280px;
  }
}
